
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/public/build/
/var/
/vendor/
###< symfony/framework-bundle ###

/public/uploads/
/config/packages/kookaburra.yaml

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

!/vendor/kookaburra/
