{"web":{"client_id":"869932302474-vmp86mrilkcn37s62vhrjpcdq2fu3ava.apps.googleusercontent.com","project_id":"gibbon-231623","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_secret":"jqgOQUB_b2ms7DftqXvA4JSR","redirect_uris":["http://gibbon.craigrayner.com/lib/google/index.php","http://responsive.craigrayner.com/security/oauth2callback/","http://bilby.craigrayner.com/security/oauth2callback/"],"javascript_origins":["http://gibbon.craigrayner.com","http://bilby.craigrayner.com"]}}