{% trans_default_domain 'gibbon' %}

<div class="column-no-break">
    <h4>{{ 'Course List'|trans }}</h4>
    <ul style="list-style: none; margin-left: 0">
        {% for course in content.courses %}
            <li><a href='{{ path('legacy', {q: '/modules/Departments/department_course.php', gibbonDepartmentID: content.department.id, gibbonCourseID: course.id }) }}'>{{ course.nameShort }}</a> <span style='font-size: 85%; font-style: italic'>{{ course.name }}</span></li>
        {% endfor %}
    </ul>
</div>
