{% trans_default_domain 'gibbon' %}


<div class="column-no-break">
    <h2 class='sidebar'>
        {{ 'My Classes'|trans }}
    </h2>
    <ul style="list-style: none; margin-left: 0">
        {% for row in content %}
            <li><a href='{{ path('departments__course_class_details', {class: row.id, course: row.course.id, department: row.course.department.id}) }}'>{{ row.course.nameShort ~ '.' ~ row.nameShort }}</a></li>
        {% endfor %}
    </ul>
</div>
