{% trans_default_domain 'messages' %}
<h3>{{'Register'|trans}}</h3>
<p><a href="{{ path('legacy', {'q': '/publicRegistration.php'}) }}">{{'Join our learning community.'|trans}}</a> {{"It's free"|trans}}!</p>
