{% for extra in getSidebar().getExtras(position) %}
    <div class="md:column-2 lg:column-1 pt-6 sm:pt-16 lg:pt-6">
        {% if extra.type is same as('image') %}
            <div class="md:column-2 lg:column-1 pt-6 sm:pt-16 lg:pt-6">
                {% include 'default/display_image.html.twig' with {image: extra.content} %}
            </div>
        {% endif %}

        {% if extra.type is same as('myClasses') %}
            {% include 'default/sidebar/my_classes.html.twig' with {content: extra.content} %}
        {% endif %}

        {% if extra.type is same as('subjectList') %}
            {% include 'default/sidebar/subject_list.html.twig' with {content: extra.content} %}
        {% endif %}

        {% if extra.type is same as('courseList') %}
            {% include 'default/sidebar/course_list.html.twig' with {content: extra.content} %}
        {% endif %}

        {% if extra.type is same as('courseClasses') %}
            {% include 'default/sidebar/course_classes.html.twig' with {content: extra.content} %}
        {% endif %}
    </div>
{% endfor %}