{% if getSidebar().valid and getSidebar().noSidebar is same as(false) %}
    {% set sc = getSidebar().getContent(true) %}
    <div id="sidebar" class="w-full lg:w-sidebar px-6 pb-6 lg:border-l{{ getSidebar().minimised ? ' hidden' : '' }}">
    </div>
    <br style="clear: both">
    {% set x = getSidebar().writeScript() %}
{% endif %}
