{% trans_default_domain 'messages' %}
<h2>{{ 'Building the Database'|trans }}</h2>
{% if proceed %}
    <p class="right"><button id="proceedButton" class="btn btn-success" type="button" onclick="return buildDatabase()">{{ 'Proceed'|trans }}</button></p>
    <script>
        let el = document.getElementById("proceedButton")
        el.disabled = true
        setTimeout(function(){
            el.disabled = false
        }, 5000)

        function buildDatabase() {
            let el = document.getElementById("proceedButton")
            el.style.display = 'none'
            window.open('/install/installation/build/','_self')
            let content = document.getElementById("content")
            content.innerHTML = '<h3>{{ 'Building Database'|trans }}...</h3>'

            return false
        }
    </script>
{% endif %}
